#hero_btn{
  border-radius: 10px;
  border: none;
  background-color: silver;
  font-size: 20px;
  font-weight: bolder;
  color: black;
}

body{
  margin: 0;
  overflow: auto;
  background-image: URL(../images/news_bg.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  color: white;
  font-size: 18px;
}

header{
  display: flex;
  padding: 10px;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  background-color: white;
  border-radius: 10px;
  margin: 10px;
}

header a{
  text-decoration: none;
  font-size: 18px;
  color: black;
  border-radius: 10px;
  background: linear-gradient(to left, silver 60%, grey, white);
  background-size: 0% 100%;
  background-position: left;
  background-repeat: no-repeat;
  transition: background-size 0.3s ease-in-out;
  padding: 5px; /* Add some padding for better visuals */
}

header a:hover {
  background-size: 100% 100%;
  color: black;
}

h1{
  font-size: 42px;
}

.gradient-text {
  background: linear-gradient(to left, silver 60%, grey, white);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

#hero{
  min-height: 400px;
  color: white;
  padding: 5em;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin: 20px;
  margin-bottom: 80px;
  border-radius: 20px;
  background-color: black;
}

#hero_inner {
  min-height: 400px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  padding: 15px;
  background-color: black;
  border-radius: 10px;
}

#hero_inner img{
  border-radius: 15px;
  box-shadow: 2px 2px 25px 2px silver;
  width: 50%;
  height: auto;
}

#about{
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: black;
  color: white;
  min-height: 200px;
  padding: 15px;
  margin: 20px;
  margin-bottom: 80px;
  border-radius: 10px;
}

#about p{
  max-width: 60%;
}

#skills{
  min-height: 600px;
  padding: 15px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin: 20px;
  margin-bottom: 80px;
  border-radius: 10px;
  /*background-color: black;*/
}

#skills div{
  background-color: black;
  width: 40%;
  padding: 10px;
  height: 500px;
  box-shadow: 2px 2px 25px 2px silver;
  border-radius: 10px;
}

#skills dt{
  background-image: linear-gradient(to right, black, grey, silver);
  font-size: larger;
  border-radius: 5px;
}

#skills dd{
  padding: 5px;
}

#services{
  background-color: black;
  padding: 15px;
  margin: 20px;
  margin-bottom: 80px;
  border-radius: 10px;
}

#services_grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(auto-fill, 1fr); /* auto-fill rows */
  gap: 20px;
}

.grid_item{
  padding: 20px;
  box-shadow: 0px 0px 10px 2px silver;
  border-radius: 10px;
}

#projects{
  padding: 15px;
  margin: 20px;
  margin-bottom: 80px;
  background-color: black;
  border-radius: 10px;
}

#projects_grid{
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(auto-fill, 1fr); /* auto-fill rows */
  gap: 20px;
}

#projects img{
  width: 100%;
  height: auto;
}

#apps{
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding: 15px;
  margin: 20px;
  margin-bottom: 80px;
  border-radius: 10px;
  background-color: black;
}

#apps div{
  min-height: 300px;
  padding: 10px;
}

#apps img{
  width: 75%;
  height: auto;
  border-radius: 10px;
  box-shadow: 2px 2px 25px 2px silver;
}

#apps h2{
  color: white;
}


#mobile_bp{
  display: none;
}


#contact{
  padding: 15px;
  background-color: black;
  margin: 20px;
  margin-bottom: 80px;
  border-radius: 10px;
}

#contact form {
  max-width: 800px;
  margin: 0 auto;
  padding: 2em;
  background-color: transparent;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

#contact label {
  display: block;
  margin-bottom: 0.5em;
  color: white;
}

#contact input, #contact textarea {
  width: 100%;
  padding: 0.5em;
  margin-bottom: 1em;
  border: 1px solid #cccccc;
  border-radius: 5px;
}

#contact input:focus, #contact textarea:focus {
  border-color: #ff6600;
  box-shadow: 0 0 5px rgba(255, 102, 0, 0.5);
}

#form_btn {
  background-image: linear-gradient(to right, black, grey, silver, black);
  color: black;
  font-weight: bolder;
  border: none;
  padding: 0.5em 1em;
  cursor: pointer;
  border-radius: 5px;
  width: 100%;
  font-size: 1.2em;
}

#form_btn:hover {
  font-size: larger;
}

.social-icon {
  width: 40px;
  height: 40px;
  background-image: linear-gradient(to right, black, grey, silver, black);
  border-radius: 10px;
}

.social-icon:hover {
  width: 50px;
  height: 50px;
}

footer {
  background-color: #000000;
  padding: 1em;
  text-align: center;
  clear: both;
  border-top: 1px solid #333333;
}


.download_btn {
  text-decoration: none;
  font-size: 25px;
  color: black;
  border-radius: 10px;
  background-color: silver;
  background-image: linear-gradient(to right, black, grey, silver, black);
  background-size: 0% 100%;
  background-position: left;
  background-repeat: no-repeat;
  transition: background-size 0.3s ease-in-out;
  padding: 5px;
  height: auto;
}

.download_btn:hover {
  background-size: 100% 100%;
  color: white;
}




/* Mobile devices (max-width: 768px) */
@media only screen and (max-width: 768px) {
  body {
    font-size: 16px;
  }
  header {
    padding: 0.5em;
    flex-direction: column;
  }
  #mobile_bp{
    display: block;
  }
  #hero {
    padding: 2em;
    height: auto;
  }
  #hero_inner {
    height: auto;
    padding: 1em;
    flex-direction: column;
  }
  #hero_inner img {
    width: 100%;
    height: auto;
  }

  #hero_btn{
    display: none;
  }

  #about {
    /*padding: 2em;*/
    flex-direction: column;
  }
  #about div {
    /*flex-basis: 100%;*/
    width: 100%;
    /*margin: 0.5em;*/
  }

  #projects {
    /*padding: 2em;*/
  }
  #projects_grid {
    grid-template-columns: repeat(1, 1fr);
  }
  #projects div {
    /*margin: 0.5em;*/
    width: auto;
    /*padding: 2em;*/
  }
  #skills {
    /*padding: 2em;*/
    flex-direction: column;
  }
  #skills div {
    /*flex-basis: 100%;*/
    /*margin: 0.5em;*/
    width: 100%;
    height: auto;
  }
  #services_grid {
    grid-template-columns: repeat(1, 1fr);
  }
  #apps {
    padding: 2em;
    flex-direction: column-reverse;
  }

  #apps img{
    width: 100%;
    height: auto;
  }

  #apps div {
    min-height: auto;
    padding: 10px;
  }
  #contact {
    padding: 2em;
  }
  #contact form {
    padding: 1em;
  }

  footer{
    flex-direction: column-reverse;
  }
}

/* Tablet devices (min-width: 769px) and (max-width: 1024px) */
@media only screen and (min-width: 769px) and (max-width: 1024px) {
  body {
    font-size: 18px;
  }
  header {
    padding: 1em;
  }
  #hero {
    padding: 3em;
    height: auto;
  }
  #hero_inner {
    height: auto;
    padding: 1.5em;
  }
  #about {
    padding: 3em;
  }
  #about div {
    flex-basis: 40%;
    margin: 1em;
  }
  #projects {
    padding: 3em;
  }
  #projects_grid {
    grid-template-columns: repeat(2, 1fr);
  }
  #projects div {
    margin: 1em;
  }
  #skills {
    padding: 3em;
  }
  #skills div {
    flex-basis: 40%;
    margin: 1em;
  }
  #services_grid {
    grid-template-columns: repeat(2, 1fr);
  }
  #apps {
    padding: 3em;
  }
  #contact {
    padding: 3em;
  }
  #contact form {
    padding: 1.5em;
  }
}
